<%- include('./partials/header.ejs') %>   <%- include('./partials/nav.ejs') %>
<div class="login_form">
    <form action="/editComments/<%=comment._id%>?_method=PUT" method="post">
      
      <input value="<%=commentAuthor%>" type="text" id="comment_author" name="commentAuthor" placeholder="автор" required>

      <textarea id="comment_content" name="commentContent" rows="5" required><%=commentContent%></textarea>
    
      <button type="submit">Опублікувати</button>
    </form>
</div>

<%- include('./partials/footer.ejs') %>   